---
layout: "default-layout.njk"
slug: "/"
---

<main data-router-wrapper>
  <div class="scroll-pos" data-router-view="home">
    <div class="container">
      <a href="/nantes" class="link-thumb nantes" data-city="nantes">
        <div class="nantes-thumb cacahuete">
          <img
            src="img/nantes.jpeg"
            width="1000"
            height="1400"
            alt="Nantes"
            draggable="false"
          />
        </div>
        <div class="city-name">
          <span>nantes</span>
        </div>
      </a>

      <a href="/paris" class="link-thumb paris" data-city="paris">
        <div class="paris-thumb cacahuete">
          <img
            src="img/paris.jpeg"
            width="1000"
            height="1400"
            alt="Paris"
            draggable="false"
          />
        </div>
        <div class="city-name">
          <span>paris</span>
        </div>
      </a>

      <a href="/brest" class="link-thumb brest" data-city="brest">
        <div class="brest-thumb cacahuete">
          <img
            src="img/brest.jpeg"
            width="1000"
            height="1400"
            alt="Brest"
            draggable="false"
          />
        </div>
        <div class="city-name">
          <span>brest</span>
        </div>
      </a>
    </div>
  </div>
</main>
<!-- <canvas></canvas> -->
