---
layout: "default-layout.njk"
slug: "/nantes"
---

<main data-router-wrapper>
  <div data-router-view="city" data-city="nantes">
    <div class="paris-page">
      <div class="img-container">
        <div class="ppp">
          <img
            src="../img/nantes.jpeg"
            width="1000"
            height="1400"
            draggable="false"
            style="width: 100%; height: 100%; object-fit: cover;"
          />
        </div>
      </div>
      <div class="title-container">
        <div class="title">
          <span>nantes</span>
        </div>
      </div>
      <a class="home-link" href="/">BACK</a>
    </div>
  </div>
</main>
<!-- <canvas></canvas> -->
